.cal-month,
.cal-days,
.cal-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
}
.cal-month-name {
    grid-column-start: 2;
    grid-column-end: 7;
    text-align: center;
}
.cal-weekday,
.btn.cal-btn {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 2rem;
    padding: 0;
    min-width: auto;
}

.placeholder.cal-placeholder {
    display: block;
    margin: 1rem 0;
}
.placeholder.cal-placeholder:last-child,
.placeholder.cal-placeholder:first-child {
    margin: 0.5rem 0;
}
.cal-btn:hover:not(.btn-success, .btn-danger, .btn-warning, .btn-info, .btn-light, .btn-dark, .btn-primary, .btn-secondary, .btn-link) {
    background-color: var(--bs-secondary-bg);
}
.cal-btn:focus:not(.btn-success, .btn-danger, .btn-warning, .btn-info, .btn-light, .btn-dark, .btn-primary, .btn-secondary, .btn-link) {
    background-color: var(--bs-secondary-bg);
}
.cal-btn {
    font-weight: 500;
    color: var(--bs-emphasis-color);
}
.secondary.cal-btn {
    border: 0;
    opacity: 0.5;
}

.today.cal-btn {
    // blue color
    // --bs-btn-border-color: #0d6efd;
    // --bs-btn-hover-border-color: #0d6efd;
    // --bs-btn-active-border-color: #0d6efd;
    // --bs-btn-disabled-border-color: #0d6efd;
    // grey color
    --bs-btn-border-color: #8e9ba7;
    --bs-btn-hover-border-color: #8e9ba7;
    --bs-btn-active-border-color: #8e9ba7;
    --bs-btn-disabled-border-color: #8e9ba7;
}

// fixes the border radius of the popover
.popover > .popover-body > .list-group > .list-group-item:last-child {
    border-bottom-right-radius: var(--bs-border-radius) !important;
    border-bottom-left-radius: var(--bs-border-radius) !important;
}
