.vs
obj
bin
*.user
/taskmanager.client/package-lock.json
/TaskManager.Server/wwwroot/build
/TaskManager.Server/appsettings.Production.json
/TaskManager.Common/Settings.Production.cs
/taskmanager.client/cypress/downloads
/TaskManager.Server/Data
